h1 {
  font-size: 5em;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}

h2  {
  font-size: 3em;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-size: 2em;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}



/*navigation*/
.nav-logo{
  text-align: center;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.3);
  float: left;
  border-radius: 100px;
  margin-top: 20px;
  margin-left: 20px;

}

#navbar-logo {
  position: relative;
  top: 35%;
  transform: rotate(-20deg);
}

nav, li {
  list-style: none;
  display: inline;
  padding: 10px;
  text-align: right;
  margin-right: 20px;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: .9em;
}

.btn-signin {
  border-radius: 5px;
  border: 2px solid #FFF;
  padding: 8px;
}

.btn-signup {
  background: #FFD500;
  border-radius: 5px;
  border: 2px solid #FFD500;
  padding: 8px;
  color: black;

}


/*landing page top row*/
.intro {
  position: relative;
  background-image: radial-gradient(ellipse at center, rgba(0,0,0,0) 6%,rgba(0,0,0,0) 20%,rgba(0,0,0,0.65) 72%,rgba(0,0,0,0.65) 100%),
    url("https://unsplash.it/1920/1080?image=231");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  text-align: center;

}

.intro-lead {
  position: absolute;
  top: 20%;
  margin-left: 20%;
  margin-right: 20%;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;

}

.intro-lead-logo {
  text-align: center;
  background: #FFD500;
  margin: auto;
  width: 150px;
  height: 150px;
  border-radius: 100px;
}

#lead-logo {
  position: relative;
  top: 22%;
  transform: rotate(-20deg);
  color: black;
}

.intro-lead .intro-tag {
  font-style: italic;
  font-family: 'Ubuntu Condensed', sans-serif;
  text-transform: none;
}


/*rows*/

.single-column .two-column {
  width: 80%;
  margin: auto;
  display: center;
}


.row p {
  font-family: 'Lato', sans-serif;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 1.5em;
  font-style: italic;

}

.row-gray {
  background-color: #f1f1f1;
}

/*single-column*/
.row .single-column p {
  font-family: 'Lato', sans-serif;
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 1.5em;
  font-style: italic;
  width:50%;
  margin: auto;
}

.single-column img {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-left: 0;
  padding-right: 0;
}


/*two-column row*/
.column1 {
  padding-left: none;
  display: inline-block;
  width: 40%;
  margin-left: 10%;
  padding-left: 2%;
}

.column1 h2 {
  text-align: left;
}

.column2 {
  display: inline-block;
  width: 40%;
  padding: none;
}
